* {
    margin: 0px;
    padding: 0px;
}
.menu-container {
    background-color: rgb(251, 102, 102);
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.menus {
    display: flex;
    list-style: none;
}
.logo-photo {
    width: 60px;
}
.menu-item {
    margin-right: 15px;
    padding-right: 5px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    font-size: 22px;
}
.menu-item:hover {
    border-bottom: 3px solid whitesmoke;
    padding-left: 4px;
    color: whitesmoke;
}